---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "../layout/BaseHead.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import Footer from "../layout/Footer.astro";
import Header from "../layout/Header.astro";
---

<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>
      <div class="main__container">
        <div class="main__content">
          <h1 class="main__heading">
            Hi 👋, I'm Eniola Ajayi. Frontend Engineer currently based at
            Ibadan, Nigeria.
          </h1>
          <h2 class="main__heading">
            Check out some featured <a href="" class="orng">Projects</a>, view
            my <a href="" class="prpl">Resume</a> or learn more <a
              href=""
              class="grn">About Me</a
            >.
          </h2>
        </div>
      </div>
    </main>
    <section class="contact">
      <div class="contact__container">
        <div class="contact__content">
          <h2 class="font-heading">Get in touch</h2>
          <p>
            Let's innovate together.. Feel free to reach out if you're looking
            for a developer, have a question or want to say hi!
          </p>
          <a href="">send message</a>
        </div>
      </div>
    </section>
    <Footer />

    <style lang="scss">
      .main__container {
        --brand-color-orange: #f6ce9c;
        --brand-color-purple: #9ca5f6;
        --brand-color-green: #bef6d5;
        min-block-size: calc(var(--size-15) + var(--size-10));
        display: grid;
        place-items: center;
      }

      .main__heading {
        font-size: var(--font-size-xl);
        font-weight: 600;
        font-stretch: 125%;
        text-align: left;
        max-inline-size: var(--size-header-1);
        a {
          text-decoration: none;
        }

        .orng {
          color: var(--brand-color-orange);
        }

        .prpl {
          color: var(--brand-color-purple);
        }

        .grn {
          color: var(--brand-color-green);
        }
      }

      .main__heading:is(h1) {
        margin-block-end: var(--size-8);
      }

      section {
        // block-size: var(--size-15);
      }

      .contact,
      .projects,
      .about {
        &__container {
        }

        &__content {
          h2 {
            text-transform: uppercase;
            font-weight: 500;
            font-stretch: 75%;
            font-size: var(--font-size-xl);
            margin-block-end: var(--size-relative-1);
          }

          p {
            max-inline-size: var(--size-content-2);
            margin-block-end: var(--size-relative-1);
          }

          a {
            text-transform: uppercase;
            font-weight: 800;
            font-stretch: 75%;
            text-decoration: none;
            color: var(--gray-10);
            font-size: var(--font-size-base);
          }
        }
      }
    </style>
  </body>
</html>
