---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "../layout/BaseHead.astro";
---

<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <h1>Astro</h1>
  </body>
</html>
