---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "../layout/BaseHead.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import Footer from "../layout/Footer.astro";
import Header from "../layout/Header.astro";
---

<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>
      <div class="main__container">
        <div class="main__content">
          <h1 class="main__heading">
            Hi 👋, I'm Eniola Ajayi. Frontend Engineer currently based at Ogun
            state, Nigeria.
          </h1>
          <p class="main__intro">
            View featured <a href="/projects" class="orng">Projects</a>,
            download
            <a href="" class="prpl">Resume</a> or learn more <a
              href="/about"
              class="grn">About Me</a
            >.
          </p>
        </div>
      </div>
    </main>
    <section class="contact">
      <div class="contact__container">
        <div class="contact__content">
          <h2>Get in touch</h2>
          <p>
            Reach out if you're looking to hire, have a question or want to say
            hi!
          </p>
          <a href="">send message</a>
        </div>
      </div>
    </section>
    <Footer />

    <style lang="scss">
      .main__container {
        min-block-size: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gray-11);
      }
      .main__content {
        h1 {
          margin-inline: auto;
        }
      }

      .main__heading {
        text-align: center;
        max-inline-size: var(--size-header-1);
        color: var(--gray-0);
        font-weight:400;
      }

      .main__heading:is(h1) {
        margin-block-end: var(--size-8);
      }

      .main__intro {
        text-align: center;
        max-inline-size: var(--size-header-2);
        color: var(--gray-0);
        font-size: var(--font-size-xl);
        font-stretch: 125%;
        line-height: var(--font-lineheight-1);
        // font-weight: 500;
        margin-inline: auto;

        a {
          &:hover {
            font-weight: 900;
            font-stretch: 75%;
          }
        }

        .orng {
          color: var(--brand-color-orange);
        }

        .prpl {
          color: var(--brand-color-purple);
        }

        .grn {
          color: var(--brand-color-green);
        }
      }

      section {
        // block-size: var(--size-15);
      }

      .contact {
        background-color: var(--gray-11);
        &__container {
          block-size: var(--size-15);
          padding-inline: var(--size-fluid-4);
          padding-block: var(--size-fluid-1);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__content {
          color: var(--gray-0);
          text-align: center;

          h2 {
            margin-block-end: var(--size-relative-1);
            font-weight:500;
          }

          p {
            font-size: var(--font-size-base);
            max-inline-size: var(--size-header-3);
            margin-inline: auto;
            margin-block-end: var(--size-relative-10);
          }

          a {
            color: var(--gray-0);
            font-size: var(--font-size-base);
          }
        }
      }
    </style>
  </body>
</html>
