---
import BaseHead from "../layout/BaseHead.astro";
import Footer from "../layout/Footer.astro";
import Header from "../layout/Header.astro";
---

<html lang="en">
  <BaseHead title={"Eniola Ajayi | Projects"} description={""} />
  <body>
    <Header />
    <main class="skills">
      <div class="skills__container">
        <div class="skills__content">
          <h2 class="font-heading">Projects & Tools</h2>
          <p>
            I love exploring new ideas. The following is a list of tools that I
            use to breathe life into ideas:
          </p>
          <ul>
            <li>HTML</li>
            <li>CSS, SCSS</li>
            <li>TailwindCSS</li>
            <li>Javascript, Typescript</li>
            <li>React, NextJS, Laravel</li>
            <li>NodeJS</li>
            <li>SQL, MySQL</li>
            <li>Github, Git</li>
            <li>Rust</li>
          </ul>
        </div>
      </div>
    </main>
    <section class="projects">
      <div class="projects__container">
        <div class="projects__content">
          <p>Here are some cool products I've built using my skillset</p>

          <div class="project__card">
            <figure>
                <img src="" alt="">
            </figure>
            <div>
                <h3></h3>
                <p></p>
                <div>
                    <a href="#">source</a>
                    <a href="#">demo</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
    <style lang="scss">
      .skills,
      .projects {
        min-block-size: var(--size-15);
        background-color: var(--gray-11);
      }

      .skills__content,
      .projects__content {
        color: var(--gray-0);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          line-height: var(--font-lineheight-3);
          max-inline-size: var(--size-content-2);
          font-size: var(--font-size-base);
        }
      }

      .skills__content {
        padding-block: var(--size-8);

        h2 {
          margin-block-end: var(--size-4);
        }
      }

      ul {
        max-inline-size: var(--size-content-3);
        margin-block-start: var(--size-5);
        display: flex;
        gap: var(--size-3);
        justify-content: center;
        flex-wrap: wrap;

        li {
          margin-inline: var(--size-5);
          text-align: start;
          padding-inline-start: var(--size-1);
          font-weight: 500;
        }

        li::marker {
          color: #9ca5f6;
          content: "→";
        }
      }

      .projects__content {
      }
    </style>
  </body>
</html>
