---
const date = new Date();
const currentYear = date.getFullYear();
---

<header>
  <nav class="nav">
    <div class="nav__logo">
      <a href="">eniola</a>
    </div>
    <div class="nav__links">
      <a href="">works</a>
      <a href="">about</a>
      <a href="https://github.com/eniolajayi" target="_blank">github</a>
    </div>
  </nav>
</header>

<slot />

<footer class="footer">
  <div class="footer__container">
    <a href="">proverbs 22:29</a>
    <small title="All rights reserved">&#169; {currentYear}</small>
    <a href="">ajayi</a>
  </div>
</footer>

<style lang="scss">
  header {
    padding-inline: var(--size-fluid-4);
    padding-block: var(--size-fluid-1);
  }

  .nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-base);

    &__logo {
    }

    &__links {
      flex-basis: var(--size-13);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer {
    padding-inline: var(--size-fluid-4);
    padding-block: var(--size-fluid-1);

    &__container {
      inline-size: 100%;
      font-size: var(--font-size-base);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  small {
    text-transform: uppercase;
    font-weight: 800;
    font-stretch: 75%;
    color: var(--gray-8);
  }

  a {
    text-transform: uppercase;
    font-weight: 800;
    font-stretch: 75%;
    text-decoration: none;
    color: var(--gray-10);
    // TODO extract common styles
    // TODO group layout?
  }
</style>
