---
---

<header>
  <nav class="nav">
    <div class="nav__logo">
      <a href="/">eniola</a>
    </div>
    <div class="nav__links">
      <a href="/projects">projects</a>
      <a href="/about">about</a>
      <a href="/blog">articles</a>
    </div>
  </nav>
</header>

<style lang="scss">
  header {
    inline-size: 100%;
    padding-inline: var(--size-fluid-4);
    padding-block: var(--size-fluid-2);
    background-color: var(--gray-11);
    position: fixed;
    top:0;
    left:0;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-base);

    &__logo {
    }

    &__links {
      flex-basis: var(--size-13);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  a {
    color: var(--gray-0);
  }
</style>
